body {
    background-image: url(https://cdn.discordapp.com/attachments/889835474913484864/959415011732762634/AD7737DF-DC47-4686-96C5-F8A39D4A1862.jpg);  
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden; */
}

#block-3 {
    width: 1380px;
    height: 100px;
    color: rgb(86, 255, 241);
    background-color: rgb(86, 255, 241);
    top: 10cm;
    border: 2px solid black;
    border-radius: 30px;
}

h1 {
    text-align: center;
    font-size: 100px;
    position: relative;
    top: -4.7cm;
}
p {
    font-size: 30px;
    position: relative;
    top: -5.9cm;
    left: 0.2cm;
    color:rgb(0, 128, 147)
}
#rule-1 {
    width: 1375px;
    height: 250px;
    background-color: rgb(0, 166, 192);
    position: relative;
    top: -5cm;
    border-radius: 30px;
    border: 2px solid black
}
p1 {
    font-size: 75px;
    position: relative;
    top: -11.5cm;
    left: -11cm;
}
p2 {
    font-size: 35px;
    position: relative;
    top: -10cm;
    left: -19.7cm;
}
.rule-1 {
    font-size: 30px;
    position: relative;
    top: -11cm;
    left: 0.6cm;
    color: black
}
.home-btn {
    width: 150px;
    height: 50px;
    color:black;
    background-color: transparent;
    border-radius: 20px;
    font-size: 20px;
    position: relative;
    top: -19cm; 
    left: 0.6cm;
    border: none;
    transition: ease-out 0.3s;
    z-index: 1;
}
.home-btn:hover {
    color:whitesmoke;
    cursor: pointer;
}
.home-btn:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: black;
}
.home-btn:hover:before {
    transition: 0.6s all ease;
    opacity: 2;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: 20px;
}
.staff-btn {
    width: 150px;
    height: 50px;
    color:black;
    background-color: transparent;
    border-radius: 20px;
    font-size: 20px;
    position: relative;
    top: -19cm; 
    border: none;
    transition: ease-out 0.3s;
    z-index: 1;
}
.staff-btn:hover {
    color:whitesmoke;
    cursor: pointer;
}
.staff-btn:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: black;
}
.staff-btn:hover:before {
    transition: 0.6s all ease;
    opacity: 2;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: 20px;
}

.invite-button {
    width: 150px;
    height: 50px;
    color:black;
    background-color: transparent;
    border-radius: 20px;
    font-size: 20px;
    position: relative;
    top: -18.9cm; 
    left: 20cm;
    border: none;
    transition: ease-out 0.3s;
    z-index: 1;
}
.invite-button:hover {
    color:whitesmoke;
    cursor: pointer;
}
.invite-button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: black;
}
.invite-button:hover:before {
    transition: 0.6s all ease;
    opacity: 2;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: 20px;
}
